*{
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    background: url(/images/bg-desktop.svg);
    
}
h2{
image: url(/images/bg-mobile.svg);
}
p{

}
button{
    text-align: right;

}
.mobile{
    align-content: center;
}